/*TEXT*/

h1, h2 {
	font-family: "Muli", sans-serif;
}

.blue {
	color: #7291d6;
}

.tinyIcon {
	font-size: 24px !important;
	position: relative;
	top: -3px;
}

/*END TEXT*/
/* NAVIGATION */

/*.navbar {
	padding: 0px 0px;
	margin: 0px;
}*/

nav {
	-webkit- transition-property: color;
	-webkit- transition-duration: .3s;
	-webkit- transition-timing-function: ease;
	display: block;
}

.navbarColor {
	background-color: #7291d6;
	padding-top: 10px;
}


.icon-bar {  /*hamburger*/
	background-color: white; 
}

#myNavBar .navText, .navText{
	color: #DCE4F5;
	padding: 10px 15px;
}

#myNavBar .navText:focus .active {
	background-color: #647FBB;
	color: purple;
}

/*override focus colors from bootstrap*/
#myNavBar .navText:focus:not(.active) {
	background-color: transparent;
}
/*override focus colors from bootstrap*/
#myNavBar .navText:hover:not(.active){
	background-color: transparent;
	color: white;
}

#myNavBar .active {
	background-color: #647FBB;
	color: white;}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: white;
	background-color: transparent;
}

.invisible {
	display: none;
}

/* END NAVIGATION */
/* HEADER */
html, body { 
	margin: 0;
	padding: 0;
	height: 100%;
}

#top {
	background-color: #7291d6;
	height: 100%;
}

header div {
	position: relative;
}

.headerText {
	top: -20px;
	margin-top: 20%;
}

header div h1, header div h2 {
	position: relative;
	font-size: 60px;
	color: white !important;
	letter-spacing: .075em;
	opacity: 0;
	/*Montserrat, Inconsolata, Muli, Oxygen, 
	Abel, Quicksand, Questrial, Play*/
}

header div h2 {
	font-size: 30px;
	/*top: 40px;*/
	letter-spacing: .4em;
}

.seeWork-btn, .seeWork-btn:focus {
	display: inline-block;
	position: relative;
	text-decoration: none;
	margin-top: 5%;
	color: #DCE4F5;
	padding: 5px 100px;

	border-style: solid;
	border-color: #DCE4F5;
	border-width: 2px;
	border-radius: 5px;

	letter-spacing: .2em;
	opacity: 0;

	-webkit-transition-property: color, border-color;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-in;
}

.seeWork-btn:hover {
	text-decoration: none;
	color: white;
	border-color: white;
}

@media (max-width: 380px){
	header div h1 {font-size: 38px;}
	header div h2 {font-size: 18px;}
	.seeWork-btn, .seeWork-btn:focus {padding: 5px 32px;}
}

/* END HEADER */
/* PORTFOLIO */

#portfolio {
	padding: 20px 4% 60px 4%;
}


#portfolio .row {
	padding-top: 2%;
}

#portfolio .project {
	width: 100%;
	padding: 4% 2%;
}

/* END PORTFOLIO */
/* ABOUT ME */

.profilePic {
	border-radius: 3%;
	width: 96%;
	margin-top: 20px;
	margin: 10px 2%;
	margin-bottom: 50px;
}

#aboutMe {
	padding: 200px 4%;
	background-color: #eee;
	/*color: #7291d6;*/
	/*color: #37393D;*/
}

#aboutMe p {
	color: #777;
	letter-spacing: .3px;
	font-size: 15px;
	line-height: 2em;
	padding: .5em 2%;
}

#aboutMe h2 {
	margin-left: -1px;
	padding: 0 2%;
	letter-spacing: 1.2px;
}


/* END ABOUT ME */
/* CONTACT ME */

#contact {
	padding: 70px 0px;
}

#contact h1 {
	margin-left: 8%;
}

.overlabel {
	border: 0.1em solid;
	border-left: none;
	border-right: none;
	border-top: none;

	color: #ccc;
	position: relative;
	display: block;
	margin: 30px 8% 0px 8%;
	vertical-align: middle;
	min-height: 2.2em;
}

.overlabel input, .overlabel textarea {
	text-align: left;
	font-size: 1em;
	line-height: 2em;
	padding: 0 0.5em;
	margin: 0;
	-webkit-appearance: none; /* prevent ios styling */
	width: 100%; 
	border: none; 
	outline: 0; /*gets rid of blue glow when in focus*/
	font-weight: 200;
	color: black;
}

.overlabel span {
	color: transparent;
	padding: 0 0.5em;
	bottom: 30px;
	position: absolute;
	top: 5px;
	-webkit-transition-property: color top;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
}

.overlabel .infoEntered {
	color: #7291d6;
	padding: 0 0.5em;
	position: absolute;
	top: -20px;
	-webkit-transition-property: color top;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-in;
}

.btn-primary{
	background-color: transparent; 
	color: #7291d6;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: #7291d6;
	margin-top: 10px;
	margin-left: 8%;
	/*box-shadow: 2px 2px 2px #888;*/
	-webkit-transition-property: color top;
	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: ease-in;
}

.btn-primary:hover{
	background-color: #7291d6; 
	color: white;
	/*color: #475B86;
	background-color: transparent;*/
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: transparent;
	margin-top: 10px;
	margin-left: 8%;
}

.btn-primary:focus, .btn-primary:active {
	background-color: #7291d6 !important; 
	box-shadow: inset 2px 2px 2px #566DA1;
	border-color: transparent;
	outline: none;
}

/* END CONTACT ME */
/* FOOTER */

footer {
	padding-top: -10px;
	float: center;
	display: block;
	text-align: center;
}

.icon-border{
	padding: 10px;
	border-radius: 50%;
	background-color: #777;
}

.fa-linkedin {
	padding: 10px 13px;
}

.fa-github-alt {
	padding: 10px 12px;
}



i {
	color: white;
	-webkit-transition-property: color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
}

i:hover {
	color: #7291d6;
	background-color: transparent;
}

.media-icon {
	display: inline-block;
	text-align: center;
	float: center;
	padding: 10px;
}

.copyright {
	margin-top: 20px;
	padding: 20px 0px;
	background-color: #7291d6;
	color: white;
}

/*END FOOTER*/
/*BACK TO TOP BUTTON*/
.up-btn {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 41px;
	height: 41px;
	z-index: 100;
	background-color: #7291d6;
	border-radius: 20%;
}
 

.up-btn i {
  font-size: 1.5em;
  padding-top: 8px;
  padding-left: 10px;
  color: white;
 
}




