
/* NAVIGATION */

.navbarColor {
	background-color: #7291d6;
}


.icon-bar {
	/*hamburger*/
	background-color: white; 
}

.alterText {
	color: white;
}

.alterText:hover {
	/*navigation text colors*/
	background-color: #647FBB !important;
	color: yellow !important;
	/*color: #A7BAE5 !important;*/
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: white;
}

/* END NAVIGATION */
/* HEADER */

header {
	margin-top: 50px;
}
/* END HEADER */
/* PORTFOLIO */

#portfolio {
	padding-top: 50px;
}

.project {
	width: 95%;
	padding: 7% 0px;
}

/* END PORTFOLIO */
/* ABOUT ME */

.me {
	border-radius: 50%;
	width: 30%;
}

#aboutMe {
	padding: 100px 200px 0px 200px;
	margin-top: 40px;
}

/* END ABOUT ME */
/* FOOTER */

footer {
	padding-top: -10px;
	float: center;
	display: block;
	text-align: center;
}

.icon-border{
	padding: 10px;
	border-radius: 50%;
	background-color: #777;
}

.fa-linkedin {
	padding: 10px 13px;
}

.fa-github-alt {
	padding: 10px 12px;
}



i {
	color: white;
	-webkit-transition-property: color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
}

i:hover {
	color: #7291d6;
	background-color: transparent;
}

.media-icon {
	display: inline-block;
	text-align: center;
	float: center;
	padding: 10px;
}

.copyright {
	margin-top: 20px;
	padding: 20px 0px;
	background-color: #7291d6;
	color: white;
}







