
/* NAVIGATION */

/*.navbar {
	padding: 0px 0px;
	margin: 0px;
}*/

.navbarColor {
	background-color: #7291d6;
	padding-top: 10px;
}


.icon-bar {  /*hamburger*/
	background-color: white; 
}

#myNavBar .navText, .navText{
	color: #DCE4F5;
	padding: 10px 15px;
}

#myNavBar .navText:focus .active {
	background-color: #647FBB;
	color: purple;
}

/*override focus colors from bootstrap*/
#myNavBar .navText:focus:not(.active) {
	background-color: transparent;
}
/*override focus colors from bootstrap*/
#myNavBar .navText:hover:not(.active){
	background-color: transparent;
	color: white;
}

#myNavBar .active {
	background-color: #647FBB;
	color: white;}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: white;
	background-color: transparent;
}

/* END NAVIGATION */
/* HEADER */

header {
	margin-top: 50px;
}

#top {
	background-color: #7291d6;
}
/* END HEADER */
/* PORTFOLIO */

#portfolio {
	padding: 0 4%;
}


#portfolio .row {
	padding-top: 2%;
}

#portfolio .project {
	width: 100%;
	padding: 4% 2%;
}

/* END PORTFOLIO */
/* ABOUT ME */


.profilePic {
	border-radius: 3%;
	width: 100%;
	margin-top: 20px;
	padding: 0 2%;
	padding-bottom: 50px;
	/*margin-left: -8%;*/
}

#aboutMe {
	padding: 100px 4% 50px 4%;
	margin-top: 40px;
}

#aboutMe p {
	font-size: 15px;
	line-height: 2em;
	padding: .5em 2%;
}

/*@media (min-width: 800) {
	#aboutMe p {
		font-size: 14px;
	}
}*/

#aboutMe h2 {
	margin-left: -1px;
	padding: 0 2%;
}

/* END ABOUT ME */
/* CONTACT ME */

#contact {
	padding-top: 50px;
}

.overlabel {
	border: 0.1em solid;
	border-left: none;
	border-right: none;
	border-top: none;

	color: #ccc;
	position: relative;
	display: block;
	margin: 30px 8% 0px 8%;
	vertical-align: middle;
	min-height: 2.2em;
}

.overlabel input, .overlabel textarea {
	text-align: left;
	font-size: 1em;
	line-height: 2em;
	padding: 0 0.5em;
	margin: 0;
	-webkit-appearance: none; /* prevent ios styling */
	width: 100%; 
	border: none; 
	outline: 0; /*gets rid of blue glow when in focus*/
	font-weight: 200;
	color: black;
}

.overlabel span {
	color: transparent;
	padding: 0 0.5em;
	bottom: 30px;
	position: absolute;
	top: 5px;
	-webkit-transition-property: color top;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
}

.overlabel .infoEntered {
	color: #7291d6;
	padding: 0 0.5em;
	position: absolute;
	top: -20px;
	-webkit-transition-property: color top;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-in;
}

.btn-primary{
	background-color: transparent; 
	color: #7291d6;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #7291d6;
	margin-top: 10px;
	margin-left: 8%;
}

.btn-primary:hover{
	background-color: #7291d6; 
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #7291d6;
	margin-top: 10px;
	margin-left: 8%;
}


/* END CONTACT ME */
/* FOOTER */

footer {
	padding-top: -10px;
	float: center;
	display: block;
	text-align: center;
}

.icon-border{
	padding: 10px;
	border-radius: 50%;
	background-color: #777;
}

.fa-linkedin {
	padding: 10px 13px;
}

.fa-github-alt {
	padding: 10px 12px;
}



i {
	color: white;
	-webkit-transition-property: color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
}

i:hover {
	color: #7291d6;
	background-color: transparent;
}

.media-icon {
	display: inline-block;
	text-align: center;
	float: center;
	padding: 10px;
}

.copyright {
	margin-top: 20px;
	padding: 20px 0px;
	background-color: #7291d6;
	color: white;
}







