.container {
	margin-top: 10px;
	padding-top: 50px;
	max-width: 600px;
}

body, .btn, .btn-primary, .btn:focus, .btn-primary:focus, .social,
.button .newQuoteButton:active, .button .newQuoteButton:active {
	color: rgba(200,155,200,.9);
	background-color: rgba(200,155,200,.9);
}

.btn, .btn-primary, .btn-primary:focus, .btn:focus,
.button .newQuoteButton:active, .button .newQuoteButton:active{
	border-width: 0;
	color: white;
	padding: 10px 20px;
	outline: none;
}

.btn:hover, .btn-primary:hover, .social:hover{
	background-color: rgba(200,155,200,.6);
	color: white;
}

a, footer, a:focus {
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: transparent;
	color: #eee;
	text-decoration: none;
}

.buttons {
	margin-top: 40px;
}

.button {
	position: relative;
	display: inline-block;
	text-align: center;
	color: white;
	padding-top: 10px;
	border-radius: 5px;
}

.social-media {
	margin: 0 10%%;
}

.social {
	width: 40px;
	height: 40px;
}

.newQuote {
	margin: 0 10%;
}

.quote {
	opacity: 0;
	font-size: 2em;
}

.author {
	opacity: 0;
	margin-top: 100px;
	color: white;
	text-align: left;
	font-size: 1em;
}