.container {
	margin-top: 10px;
	padding-top: 50px;
	max-width: 600px;
}

body {
	color: rgb(200,155,200);
	background-color: rgb(200,155,200);
	opacity: .7;
}


/*BUTTONS*/
.buttonStyle, .buttonStyle:focus, .buttonStyle:active{
	color: white;
	background-color: rgb(200,155,200);
	opacity: .8;
	outline: none;
	border-radius: 5px;
	border-style: none;
}

.buttonStyle:hover {
	opacity: .5;
}

.buttonStyle:active {
	opacity: 1;
}

.buttonRow {
	margin-top: 40px;
}

.buttonGroup {
	position: relative;
	display: inline-block;
	text-align: center;
}

.social-media {
	margin: 0 10%;
	opacity: 0;
}

.social {
	margin: 0 5px;
	padding: 10px;
	width: 40px;
	height: 40px;
}


.newQuote {
	margin: 0 10%;
	opacity: 0;
}

.newQuoteButton {
	padding: 10px 30px;
}

/*END BUTTONS*/
/*TEXT*/

.quote {
	opacity: 0;
	font-size: 2em;
}

.author {
	opacity: 0;
	margin-top: 100px;
	color: white;
	text-align: left;
	font-size: 1em;
}

footer, a, a:focus, a:active, a:hover {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #ddd;
}

/*END TEXT*/


