.container {
	margin-top: 10px;
	padding-top: 50px;
	max-width: 600px;
}

body {
	color: rgb(200,155,200);
	background-color: rgb(200,155,200);
	opacity: .7;
}

/*BUTTONS*/

.buttonStyle, .buttonStyle:focus, .buttonStyle:active{
	color: white;
	background-color: rgb(200,155,200);
	opacity: .8;
	outline: none;
	border-radius: 5px;
	border-style: none;
}

.buttonStyle:hover {
	opacity: .5;
}

.buttonStyle:active {
	opacity: 1;
}

.buttonRow {
	margin-top: 40px;
}

.buttonGroup {
	position: relative;
	display: inline-block;
	text-align: center;
}

.social-media, .newQuote {
	margin: 0 2%;
	/*opacity: 0;*/
}

.twitter {
	padding: 12px 20px;
}

.newQuoteButton {
	padding: 10px 30px;
}

/*END BUTTONS*/
/*TEXT*/

.quote {
	/*opacity: 0;*/
	font-size: 1.7em;
	margin: 0 20px;
}

.author {
	/*opacity: 0;*/
	margin-top: 50px;
	color: white;
	text-align: left;
	font-size: 1em;
}

footer, a, a:focus, a:active, a:hover {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #ddd;
}

/*END TEXT*/


